*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: cabinet-black;
    src: url('../fonts/CabinetGrotesk-Black.otf');
}
@font-face {
    font-family: cabinet-bold;
    src: url('../fonts/CabinetGrotesk-Bold.otf');
}
@font-face {
    font-family: cabinet-extrabold;
    src: url('../fonts/CabinetGrotesk-ExtraBold.otf');
}
@font-face {
    font-family: cabinet-extralight;
    src: url('../fonts/CabinetGrotesk-ExtraLight.otf');
}
@font-face {
    font-family: cabinet-light;
    src: url('../fonts/CabinetGrotesk-Light.otf');
}
@font-face {
    font-family: cabinet-medium;
    src: url('../fonts/CabinetGrotesk-Medium.otf');
}
@font-face {
    font-family: cabinet-regular;
    src: url('../fonts/CabinetGrotesk-Regular.otf');
}
@font-face {
    font-family: cabinet-thin;
    src: url('../fonts/CabinetGrotesk-Thin.otf');
}
#hero{
    background-color: #101010;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
#hero .nav{
    width: 20%;
    padding: 50px;
    padding-top: 80px;
}
#hero .nav .top{
   margin-bottom: 60px; 
}
#hero .nav .top img{
    border-radius: 30px;
    width: 120px;
}
#hero .nav .top h3{
    font-family: cabinet-bold;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
}
#hero .nav .top p{
    color: #fff; 
    font-family: cabinet-thin; 
    font-size: 18px;  
    margin-top:2px;
}
#hero .nav  .bottom{
    margin-bottom: 60px;
}
#hero .nav  .bottom ul{
    
}
#hero .nav  .bottom ul li{
    color: #fff;
    font-family: cabinet-regular; 
    margin-top: 40px;
    font-size: 22px;
}
#hero .nav a{
    font-size: 30px;
    font-family: cabinet-bold;
    border: none;
    outline: none;
    color: #fff;
}
#hero .nav a#logout-link:hover{
    text-decoration: underline;
}
#hero .right{
    background-color: #DCE4C9;
    width: 100%;
    margin: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
#hero .right .left1{
    width: 60%;
    margin: 30px;
}
#hero .right .left1 img.stats{
    width: 60   0px;
    margin-top: 20px;   
}
#hero .right .left1 p{
    margin-left: 9px;
    font-family: cabinet-regular;
    font-size: 24px;
    margin-top: -9px;
}
#hero .right .left1 .main{
    font-family: cabinet-medium;
    font-size: 70px;
}
#hero .right .left1 .sub{
    font-family: cabinet-regular;
    font-size: 40px;
    margin-top: 40px;
    text-decoration: underline;
}
#hero .right .left1 ul{
    text-decoration: none;
    margin-top: 30px;
}
#hero .right .left1 ul li{
    margin-bottom: 30px;
    font-size: 25px;
    font-family: cabinet-medium;
}
.sheesh{
    position: absolute;
    bottom: 100px;
    width: 560px;
    right: 26px;
}
.btn{
    border-radius: 30px;
    padding: 20px 40px;
    border: 0;
    background-color:#fff;
}
.btn a{
    color: #000;
    font-size: 30px;
    font-family: cabinet-medium;
}